@page
@model ASP_moment_1._2.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    I am a 22 year old guy in Uppsala currently studying web development at Mid Sweden University.<br /><br />
    The programming languages I've learned so far are JavaScript, PHP, SQL and C#. <br /><br />
    In my free time I like to hang out with friends, play music and read.
</p>