@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div >
    <h1 >Welcome</h1>
    <p>Hello and welcome to my webpage which I made in ASP.net Core</p>
   
    <h2>Github</h2>
<p> Here is a link to my <a href = https://github.com/Meuons> Github page </a> where you can find the <a href=https://github.com/Meuons/ASP-moment-1.2.git >source code</a> to this app</p>

  
</div>


